<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="student" class="Student.java">
        <property name="name" value="name"/>
        <property name="id" value="842069"/>
        <property name="address" ref="address"/>
        <property name="phone" ref="phone"/>
    </bean>

    <bean id="address" class="Address.java">
        <property name="city" value="Portland"/>
        <property name="state" value="OR"/>
        <property name="county" value="Multnomah"/>
        <property name="zip" value="97209"/>
    </bean>
</beans>
